- @title = 'Home'
- @description = 'We make custom cakes for weddings, parites, special occasions and events'

%div.imgRotorLeft
  = image_tag "home01.jpg", class: "imgShow", size: '246x369'
  = image_tag "home02.jpg", class: "imgHide", size: '246x369'
  = image_tag "home03.jpg", class: "imgHide", size: '246x369'

%div.columnRiight
  %h2 Welcome to Butterfly Icing
  %p
    Looking for the perfect cake for the perfect occasion then we can help. Our dedicated
    staff are on hand to help with gathering ideas, design and production of the cake.
  %p
    A cake should be made perfectly for your occasion which is what we guarantee. We
    cater to your needs, so tell us exactly what you want and we will deliver the end
    result.
  %h2 About Butterfly Icing
  %p
    Founded in early 2008, Butterfly Icing offers fun and delicious cakes at great
    prices!
  %p
    Starting out by making cakes for friends and family, the business expanded within
    6 months and is now providing cakes for all different occasions as well as fetes
    and events.
  %p
    The business was then taken to a whole new level with face painting (Trained by
    Follies School of Body Art) and bouncy castle hire now being offered with the party
    packages.
  %p
    With this we aim to provide the much needed support for your party, with your cakes
    and entertainment taken care of you are then free to enjoy the party with the rest
    of your guests!
  %p
    Making cakes that taste as good as they look and promoting fun is the key to the
    success of Butterfly Icing.
  %p
    So go on indulge in some sugar and fun!

%div.columnLeft
  %h2 What Our Customers Are Saying
  %blockquote
    %p
      I would like to thank Joanne for all of her help with my cake, it was a surprise
      for our anniversary and she helped me with what design to pick. The cake was
      perfect and was perfect for our evening. We were still eating it a week later,
      it was so moist! Thanks Jo!
    %p.cite
      Karen Hamersley- Welcome to Las Vegas cake for her anniversary
  %blockquote
    %p
      I ordered a large cupcake and 30 small cupcakes for my daughters joint birthday
      party! They went down a treat, the kids loved the cup cakes and the large cake was
      great for the adults and party bags. I have recommended Jo to all of my friends
      and family, as her cakes are brilliant
    %p.cite Allison Page- Large cupcake and 30 small cupcakes for a birthday party
  %blockquote
    %p
      When my mum decided to have a themed birthday party I thought I better order a
      cake, I spoke to Joanne, not having a clue what to get. She gave me lots of
      options and I finally went with the beach cake. Everyone loved the cake and it
      was the centre piece for the whole party. The cake was made to exactly how
      we wanted it and looked great
    %p.cite Nikki Cole- Beach cake for birthday party
  %blockquote
    %p
      My daughter lives in Zurich, Switzerland. It was her 40th birthday and contacted
      Joanne oringinally for a square cake. However, we got talking and I told her that
      every time my daughter came home she craves Pie and Mash. Joanne said why not do
      a ’pie &amp; mash cake’ I loved the idea! Joanne did it and it was absolutely
      fantastic, it looked so much like the real thing! My daughter thought it was
      brilliant, she took pictures of it to take back to Switzerland. It was really
      amazing
    %p.quotecite Valerie Treserden
  %blockquote
    %p
      Joanne’s Cakes are the best! She made me a beautiful Birthday cake. She also
      decorated my venue with balloons and flowers. It went down so well, everybody
      said how lovely it was. Joanne also delivered it to the venue and set it up on
      the table. She’s a great girl
    %p.cite Tara Dadzie
  %blockquote
    %p
      Joanne's cakes are the best around, she made me a beautiful Birthday cake for my
      65th birthday party, my guests loved it, and most had more than one piece. Joanne
      delivered it to my venue where I had my party, and set it up on the table for no
      extra cost. She really does put in that extra effort.
    %p.cite Peggy Gibson
  %blockquote
    %p
      Joanne made my Wedding cake for us and it really was stunning. It looked exactly
      as dreamed. We sat down and dicussed all the ideas we had. She showed me lots of
      different designs and how we could incorapated it into OUR design. She really does
      put in that extra effort
    %p.cite Sarah Thompson

%div.imgRotorRight
  = image_tag "home04.jpg", class: "imgShow", size: '246x369'
  = image_tag "home05.jpg", class: "imgHide", size: '246x369'
  = image_tag "home06.jpg", class: "imgHide", size: '246x369'

