<!DOCTYPE html>
<html<%= APP_CONFIG['ga_id'] ? ' data-web_property_id="UA-6202697-3"' : ''%>>
<head>
  <title>Butterfly Icing<%= ' - ' + @title unless @title == nil %></title>
  <%= stylesheet_link_tag    "application" %>
  <!--[if lte IE 8]>
    <%= stylesheet_link_tag    "ie" %>
  <![endif]-->
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<div id="container" class="container">
  <header>
    <h1>the perfect cake for the perfect occasion</h1>
  </header>
  <nav>
    <ul>
      <li>
        <%= link_to_unless controller.controller_name == 'home',
            "Home", '/' %>
      </li>
      <li><%= link_to_unless controller.controller_name == 'ourcakes',
           "Our Cakes", '/ourcakes' %>
      </li>
      <li><%= link_to_unless  controller.controller_name == 'gallery',
           "Gallery", '/gallery/birthday' %>
      </li>
      <li><%= link_to_unless controller.controller_name == 'weddings',
            "Weddings", '/weddings' %>
      </li>
      <li><%= link_to_unless  controller.controller_name == 'cookies',
            "Cookies", '/cookies' %>
      </li>
      <li><%= link_to_unless  controller.controller_name == 'parties',
            "Parties", '/parties' %>
      </li>
      <li><%= link_to_unless  controller.controller_name == 'contactus',
            "Contact Us", '/contactus' %>
      </li>
    </ul>
  </nav>
  <section>
    <%= yield %>
  </section>
  <footer>
    <p>Copyright&copy; Butterfly Icing 2010 All Rights Reserved</p>
  </footer>
</div>
</body>
</html>
