!!! 5
%html
  %head
    %meta{name: 'description', content: @description}
    %meta{name: 'keywords', content: 'cakes,cake,cupcakes,cupcake,birthday cakes,birthday cake,wedding cake,wedding cakes,party,parties,cookie,coookies,children\'s party'}
    %meta{name: 'author', content: 'Dave Sexton'}
    %meta{name: 'google-site-verification',
          content: '8Ftx3nmI0bTe3Ur376oBUUr7UaCGWC0VOI65Ki_FtXg'}
    %title
      Butterfly Icing
      = ' - ' + @title unless @title == nil

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
    = render partial: 'layouts/ga' if Rails.env.production?

  %body{class: controller.controller_name}
    %div#container.container

      %div#header
        %h1 the perfect cake for the perfect occasion

      %div#nav
        %ul
          %li
            = link_to_unless_current 'Home', root_path
          %li
            = link_to_unless_current 'Our Cakes', ourcakes_path
          %li
            = link_to_unless_current 'Gallery', gallery_path
          %li
            = link_to_unless_current 'Weddings', weddings_path
          %li
            = link_to_unless_current 'Cookies', cookies_path
          %li
            = link_to_unless_current 'Parties', parties_path
          %li
            = link_to_unless_current 'Contact Us', contactus_path

      %div#content.section
        - flash.each do |key, value|
          %div#flashHolder
            = content_tag(:div, sanitize(value), class: "flash #{key}",
              id: 'flashMessage')

        = yield

      %div#footer
        %p Copyright&copy; Butterfly Icing 2010 All Rights Reserved
