!!! 5
%html{data: {web_property_id: APP_CONFIG['ga_id']}}
  %head
    %meta{name: "description", content: @description}
    %meta{name: "keywords", content: "cakes,cake,cupcakes,cupcake,birthday cakes,birthday cake,wedding cake,wedding cakes,party,parties,cookie,coookies,children's party"}
    %meta{name: "author", content: "Dave Sexton"}

    %title
      Butterfly Icing
      = ' - ' + @title unless @title == nil

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags

  %body{class: controller.controller_name}
    %div#container.container

      %header
        %h1 the perfect cake for the perfect occasion

      %nav
        %ul
          %li
            = link_to_unless controller.controller_name == 'home',
                "Home", '/'
          %li
            = link_to_unless controller.controller_name == 'ourcakes',
               "Our Cakes", '/ourcakes'
          %li
            = link_to_unless  controller.controller_name == 'gallery',
               "Gallery", '/gallery/birthday'
          %li
            = link_to_unless controller.controller_name == 'weddings',
                "Weddings", '/weddings'
          %li
            = link_to_unless  controller.controller_name == 'cookies',
                "Cookies", '/cookies'
          %li
            = link_to_unless  controller.controller_name == 'parties',
                "Parties", '/parties'
          %li
            = link_to_unless  controller.controller_name == 'contactus',
                "Contact Us", '/contactus'

      %section
        - flash.each do |key, value|
          %div#flashHolder
            = content_tag(:div, sanitize(value), class: "flash #{key}", id: 'flashMessage')

        = yield

      %footer
        %p Copyright&copy; Butterfly Icing 2010 All Rights Reserved
